@model Garage2._0._1.Models.ParkedVehicle

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>ParkedVehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingTime)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegistrationNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
