@model IEnumerable<Garage2._0._1.Models.ParkedVehicle>
@{
    ViewBag.Title = "Index";
    Garage2._0._1.Models.SearchFormModel info = ViewBag.SearchFormModel;
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Park a car", "Create")
</p>

@using (Html.BeginForm("Index", "ParkedVehicles", FormMethod.Get))
{
    <p>Search for vehicle</p>
    <input type="hidden" value=@ViewBag.Ascending name="ascending" id="sorting">
    <input type="hidden" value=@ViewBag.Column name="column" id="coulumn">
    <input type="text" id="searchName" name="searchName" placeholder=@ViewBag.SearchName>
    <input type="submit" id="submitId" value="submit" class="btn btn-default" />
}

<script>
    var search = {
        document.getElementById(searchName).innerText
    }();
    alert(search)
</script>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Reg NR", "Index", new { ascending = ViewBag.Ascending, searchName = "getSearchOrder()", column = "RegistrationNumber" })

        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { ascending = ViewBag.Ascending, searchName = ViewBag.SearchName, column = "Type" })

        </th>
        <th>
            @Html.ActionLink("Color", "Index", new { ascending = ViewBag.Ascending, searchName = ViewBag.SearchName, column = "Color" })

        </th>
        <th>
            @Html.ActionLink("Brand", "Index", new { ascending = ViewBag.Ascending, searchName = ViewBag.SearchName, column = "Brand" })
        </th>
        <th>
            @Html.ActionLink("Wheels", "Index", new { ascending = ViewBag.Ascending, searchName = ViewBag.SearchName, column = "Wheels" })
        </th>
        <th>
            @Html.ActionLink("Parking Time", "Index", new { ascending = ViewBag.Ascending, searchName = ViewBag.SearchName, column = "ParkingTime" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RegistrationNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.RegistrationNumber }) |
                @Html.ActionLink("Checkout", "Delete", new { id = item.RegistrationNumber })
            </td>
        </tr>
    }
</table>

<script>
    function getSearchOrder() {
        var temp = document.getElementById("searchName").innerText;
        alert(temp)
        return document.getElementById("searchName").innerText;
    }
</script>
