@model IEnumerable<Garage2._0._1.Models.ParkedVehicle>
@{
    ViewBag.Title = "Index";
    Garage2._0._1.Models.SearchFormModel info = ViewBag.SearchFormModel;
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Park a car", "Create")
</p>

@using (Html.BeginForm("Index", "ParkedVehicles", FormMethod.Post))
{
    <p>Find vehicle by registration number</p>
    @Html.Hidden("SortingMethod", info.SortingMethod)
    @Html.TextBox("SearchName", info.SearchName)
    @Html.DropDownList("Column",new SelectList(Enum.GetValues(typeof(Garage2._0._1.Models.SortingFields))),"Select Sorting Field")
    @*<input type="text" id="nameToFind" name="nameToFind">*@
    <input type="submit" id="submitId" value="submit" class="btn btn-default" />
}

@*
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dropdown Example
        <span class="caret"></span>
    </button>
    <ul id="sortChoice" class="dropdown-menu">
        <li class="active"><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>
</div>

@Html.ActionLink("Sortorder", "Index", new { sortOrder = ViewBag.NameSortParm })*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RegistrationNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.RegistrationNumber }) |
                @Html.ActionLink("Checkout", "Delete", new { id = item.RegistrationNumber })
            </td>
        </tr>
    }
</table>
