@model IEnumerable<Garage2._0._1.Models.ParkedVehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Park a car", "Create")
</p>

@using (Html.BeginForm("Index", "ParkedVehicles", FormMethod.Post))
{
    <p>Find vehicle by registration number</p>
    <input type="text" id="nameToFind" name="nameToFind">
    <input type="submit" id="submitId" value="submit" class="btn btn-default" />        
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RegistrationNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.RegistrationNumber }) |
                @Html.ActionLink("Checkout", "Delete", new { id = item.RegistrationNumber })
                @*@Html.ActionLink("Checkout", "Checkout", new { id = item.RegistrationNumber })*@
            </td>
        </tr>
    }

</table>
